@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background: rgba(0,0,0,.1);
}
.product-item{
    background:linear-gradient(180deg, #fff, rgba(161, 204, 244, 0.2));
    min-height:300px;
}

.btn-block{
    border-bottom: 4px solid lightslategray;
    transition: ease-in-out .1s;
}
.btn-block:active{
    border-bottom: 0px;
}